body{
    padding: 130px;
    background: linear-gradient(rgba(30, 101, 164, 0.75),rgba(55, 53, 53, 0.75)) ; 
}

.container{
    max-width: 600px;
    margin:50px auto;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}

.form-group{
    margin-bottom: 50px;
}

.sep-group{
    margin: 60px 60px 60px 60px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}